<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/chat.css">
<link href="../fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet">

<body style="background-image: url(http://cn.bing.com<%= bg_url %>)">

<div class="chat_title">
	<div class="col-md-3 col-sm-3 col-xs-3 column chat_img"></div>
	<div class="col-md-9 col-sm-9 col-xs-9 column chat_title_contain"><p>WeChat Online</p></div>
</div>

<div class="panel panel-default load-panel">
	<div class="load-panel-title">
		<div class="col-md-9 col-sm-9 col-xs-9 column load-panel-title-contain"><p><span>WeChat</span> Online</p></div>
		<div class="col-md-3 col-sm-3 col-xs-3 column load-panel-title-spinner">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
	</div>

	<div class="load_in_form">
		<form onsubmit="return chatRegister(this)" role="form">
			<div class="input-group">
				<span class="input-group-addon input-addon"><i class="fa fa-user-secret fa-fw"></i></span>
				<input name="username" placeholder="Email Address" required="" type="text" class="
				form-control input-text">
			</div>

			<div class="form-group">
				<div class="hr10"></div>
			</div>

			<div class="input-group">
				<span class="input-group-addon input-addon"><i class="fa fa-key fa-fw"></i></span>
				<input name="password" placeholder="Password" required="" type="password" class="form-control input-text">
			</div>

			<div class="form-group">
				<div class="hr10"></div>
			</div>

			<div class="form-group">
    			<p class="code-input-info">Please select the head portrait: </p>
    		</div>

    		<div class="form-group">
    			<input accept="image/*" type="file" name="editormd-image-file" class="file-loading form-control" id="img-file" required="">
    		</div>
			
    		<div class="form-group">
				<div class="hr5"></div>
			</div>

			<div class="form-group">
				<input value="Create Account" type="submit" class="btn btn-info form-control input-btn">
			</div>

		</form>
	</div>

	<div class="register-panel-footer">
		<p>Already a member? <a href="../chat">Log In</a></p>
	</div>
</div>


<div class="chat_bing">
	<div class="col-md-6 col-sm-6 col-xs-6 column chat_bing_contain"><p>壁纸来自</p></div>
	<div class="col-md-6 col-sm-6 col-xs-6 column bing_img"></div>
</div>

<div class="chat_design">
	<p>Desgined By Darknight</p>
</div>

<div class="modal fade sys-dialog" id="register-submit" tabindex="-1" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog sys-contain">
        <div class="modal-content">

            <div class="modal-header sys-contain-header">
                <div class="modal-title"><p>Submiting</p></div>
            </div>

            <div class="modal-body submit-modal-body">
            	<p>Submiting to database <i class="fa fa-spinner fa-spin"></i></p>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../js/md5.js"></script>
<script src="../fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="../js/chat.js"></script>

</body>
</html>