<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/resume_style.css">
<link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<head>
	<title></title>
</head>
<body>
	<div class="col-md-4 col-xs-4 col-xm-4 column leftside">
		<div class="head-img"></div>
		<div class="basic-info">
			<div class="age"><p><i class="fa fa-fw fa-address-card"></i><span>21岁</span></p></div>
			<div class="location"><p><i class="fa fa-fw fa-location-arrow"></i><span>安徽蚌埠</span></p></div>
			<div class="school"><p><i class="fa fa-fw fa-ravelry"></i><span>中南大学</span></p></div>
			<div class="major"><p><i class="fa fa-fw fa-book"></i><span>计算机科学与技术</span></p></div>
			<div class="mail"><p><i class="fa fa-fw fa-envelope-o"></i><span>49656500@qq.com</span></p></div>
		</div>

		<div class="skills-info">
			<div class="skills-title">
				<p><i class="fa fa-fw fa-gears"></i><span>Skills & Features</span></p>
			</div>

			<div class="skills-contain">
				<div class="nodejs"><p>Node.js</p></div>
				<div class="Python"></div>
				<div class="hjc"></div>
				<div class="qt"></div>
				<div class="ps"></div>
				<div class="matlab"></div>
				<div class="java"></div>
				<div class="android"></div>
			</div>
		</div>

		<div class="hobbys-info"></div>
	</div>
	<div class="col-md-8 col-xs-8 col-xm-8 column rightside">
		<div></div>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../public/js/echo.min.js"></script>
<script src="../public/js/jquery.rotate.js"></script>
<script src="../public/js/md5.js"></script>
<script type="text/javascript" src="../public/js/main_page.js"></script>
</html>